{{ partial "head" . }}
	<body id="top" class="pushable">

    {{ "<!-- THREE -->" | safeHTML }}
    {{ if .Site.Params.three.enabled }}
      {{ partial "three-config" . }}
      <div id="three"></div>
    {{ end }}

    {{ partial "menu" . }}
    {{ partial "sidebar" . }}

    <div class="pusher"> 
      {{ partial "header" . }}
    
      {{ "<!-- Main -->" | safeHTML }}
      <div id="main">
        {{ block "main" . }}{{ end }}
      </div>
  
      {{ partial "footer" . }}
  
    </div>
    {{ partial "foot" . }}
	</body>
</html>
