
// @import "./overrides";
// @import "./layout";

html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto !important;
}

#scroll {
  position:relative; 
  margin:0px auto; 
  padding:0px; 
  width: 100vw; 
  height: 100vh; 
  overflow: auto;  
}
#scoll-content {}

#three-config {
  display: none;
  height: 0;
}

#three {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  // transition: opacity 2s;
  // opacity: 0;
}

#invert {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  background: #000000;
  mix-blend-mode: overlay;
}

.screen {
  width: 100vw;
  height: 100vh;
}

#studio-button {
  transform: rotateZ(90deg);
  position: absolute;
  display: inline-block;
  right: -1em;
}

#projects-button {
  position: absolute;
  display: inline-block;
  bottom: 1em;
  left: 50%;
}